<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2014 Matt Lykins

This file is part of Remote Monitor for CGMiner.

Remote Monitor for CGMiner is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Remote Monitor for CGMiner is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Remote Monitor for CGMiner.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mattlykins.cgminer.monitor"
    android:versionCode="1"
    android:versionName="Beta 1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name="com.mattlykins.cgminer.monitor.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SetPreferenceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mattlykins.cgminer.monitor.AboutActivity"
            android:label="About"
            android:screenOrientation="portrait" >
        </activity>
        -->
        <receiver
            android:name="com.mattlykins.cgminer.widget.MinerAppWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Miner Monitor Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />            
        </receiver>
        
        <receiver android:name="com.mattlykins.cgminer.widget.MinerBroadcastReceiver" />
        <receiver android:name="com.mattlykins.cgminer.widget.ResponseReceiver" />

        <service android:name="com.mattlykins.cgminer.widget.MinerIntentService" >
            <intent-filter>
                <action android:name="com.mattlykins.cgminer.widget.MinerIntentService" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>